<div class="col-lg-8 col-lg-offset-2">
  <h2>Not an organizer?</h2>
  <p>Sign up to be a teaching assistant!</p>
  <%= link_to 'TA signup', new_teaching_assistant_path, class: 'btn btn-primary' %>

  <h2>Organizer Login</h2>

  <%= render 'form' %>
</div>
