<% if hour.is_credit? %>
  <%= button_to 'Change RSVP to NO', { controller: :hours, action: :destroy, id: hour.id }, method: :delete %>
<% else %>
  <p>
    Notify us if you are not attending as a student.
  </p>
<% end %>
