<div>
  -- <br />
  Cheers, <br />
  <%= CHAPTER_NAME %>
</div>

<div>
  <%= image_tag image_url, alt: 'Girl Develop It', size: '100x100' %>
</div>

<div id="footer">
  <div class="small">
    <em>This email was sent because you signed up with <a href="http://<%= BASE_URL %>"><%= CHAPTER_NAME %></a> as a volunteer TA. To remove yourself from the list, visit your private sign up page and mark yourself as inactive.</em>
  </div>
</div>
