<p>
  -- <br />
  Cheers, <br />
  <%= CHAPTER_NAME %>
</p>

<p>
  <%= image_tag image_url, alt: 'Girl Develop It', size: '100x100' %>
</p>

<div id="footer">
  <p class="small">
    <em>This email was sent because you signed up with <a href="http://<%= BASE_URL %>"><%= CHAPTER_NAME %></a> as a volunteer TA. To remove yourself from the list, visit your private sign up page and mark yourself as inactive.</em>
  </p>
</div>
