<h1>Hello, <%= @ta['name'] %>!</h1>

<p>
  A little birdy told us that you lost your private sign up page. Here it is!
</p>

<%= render partial: 'private_signup', locals: { ta: @ta } %>

<%= render partial: 'email_footer', locals: { image_url: attachments['logo.png'].url } %>
