Hello, #{@ta['name']}!

A little birdy told us that you lost your private sign up page. Here it is!

http://#{BASE_URL}/teaching_assistants/#{@ta['private_id']}

=================

This email was sent because you signed up with #{CHAPTER_NAME} as a volunteer TA.

To remove yourself from the list, visit your private sign up page and mark yourself as inactive.