Hello, #{@ta['name']}.

Thanks for signing up to volunteer as a TA with Girl Develop It Chicago! Your application has been approved, and you are now able to sign up to volunteer for classes.

This orientation email contains all sorts of information about how to sign up, earning class credit, and reminder emails.

Please note that all students, volunteers, and staff are required to abide by the Girl Develop It Code of Conduct. Report any violations or issues to GDI staff. View online: http://girldevelopit.com/codeofconduct

=========================================

Signing up

To sign up for classes, visit your private sign up page. No need to login!

View your private page:

http://#{BASE_URL}/teaching_assistants/#{@ta['private_id']}

Your private sign up page contains:

* Your personal volunteering schedule
* A list of classes you can RSVP for
* Your credit hour balance and pending balance
* A history of classes you have TA'd or attended using credit hours

A note about multi-day classes:
if you want to TA for every session, you have to sign up for each one. This is great for you because you can attend as many (or as few) sessions in a series as you want! Multi-day classes will be indicated with a 'Series' badge.

=========================================

Emails

You will receive emails:

* Once a month, with information about classes you can sign up for
* A reminder email one-two weeks prior to a class you signed up for, including detailed information about the location

And that's it! No other emails, we promise.

=========================================

Credit hours

After you TA 4 complete classes for Girl Develop It Chicago, you are eligible to accumulate credit hours that can be used toward upcoming classes. Each class or session will list the number of credit hours you can earn for TA'ing. Usually, credit hours are earned as a 2:1 ratio, but some classes are worth more or less, depending on the nature of the material.

We don't expect everyone to take us up on this offer, but some of our TAs have expressed interest in taking classes, and we wanted to make it possible to us to reward you for oyur hard work.

The terms for using credit hours are as follows:

* Credit hours can only be used to cover the full cost of the class (no discounts or partial payment)
* One credit hour == one hour of instruction time (or about $10)
* You can only use credit hours you've earned: pending credit hours aren't available to spend, and you can't go into credit hour debt
* We carefully manage class capacity, and sometimes we might not have a spot for you (but we'll try our best to fit you in)
* To qualify to accumulate credit hours, you must TA 4 complete courses. For single-day workshops, this is pretty clear. For multi-session courses, you must TA for all of the sessions in order for it to count toward the minimum TA requirement.

To use credit hours, contact Liz directly.

Thank you for volunteering!

=======================================

This email was sent because you signed up with #{CHAPTER_NAME} as a volunteer TA.
