<h1>Hello, <%= @ta['name'] %>!</h1>

<p>
  Thanks for signing up to volunteer as a TA with Girl Develop It Chicago! Your application has been approved, and you are now able to sign up to volunteer for classes.
</p>

<p>
  Please note that all students, volunteers, and staff are required to abide by the <a href="http://girldevelopit.com/codeofconduct">Girl Develop It Code of Conduct</a>. Report any violations or issues to your chapter leaders.
</p>

<h2>Signing Up</h2>

<p>
  No need to login! Bookmark your private sign up page below, which you can visit at any time to sign up as a teaching assistant for available <%= CHAPTER_NAME %> courses. Your private sign up page also contains your upcoming TA schedule and past TAing history.
</p>

<%= render partial: 'private_signup', locals: { ta: @ta } %>


<p>
  We will send an automated email to you when we post new courses on TAMS, which will be about once a month. Once you've signed up as a TA for a course, we will email you directly on week prior with the course curriculum and day-of details. No other emails, we promise.
</p>

<%= render partial: 'email_footer', locals: { image_url: attachments['logo.png'].url } %>
