<div class="row">
  <h3 class="red-text text-lighten-2">Prospective TAs</h3>

  <% if @prospective_tas.any? %>
    <p>Approving an application will send them an email and set the TA's status to pending.</p>
    <table class="highlight centered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Upgrade to Pending</th>
        </tr>
      </thead>
      <tbody>
        <% @prospective_tas.each do |ta| %>
          <tr>
            <td><%= ta.name %></td>
            <td><%= link_to(icon_send, { controller: :emails, action: :welcome, emails: { teaching_assistant: ta } }, class: 'teal-text text-lighten-2') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>There are currently no prospective TAs.</p>
  <% end %>
</div>

<div class="row">
  <h3 class="red-text text-lighten-2">Monthly Course Emails</h3>
  <p>
    This will email all teaching assistants! Use with caution...<br /><br />
    <%= link_to('send email', { controller: :emails, action: :monthly }, method: :get, class: 'waves-effect waves-light btn teal') %>
  </p>
</div>
