.color__secondary {
  color: $base-secondary-color;
}

.color__accent {
  color: $base-accent-color;
}

.pending {
  color: $yellow;
}

.approved {
  color: $base-secondary-color;
}

.banned {
  color: $base-accent-color;
}

.inactive {
  color: $medium-gray;
}