<div class="row">
  <h3 class="cyan-text text-darken-4">Not an organizer?</h3 class="cyan-text text-darken-4">
  <p>Sign up to be a teaching assistant!</p>
  <%= link_to 'TA signup', new_teaching_assistant_path, class: 'waves-effect waves-light btn cyan darken-4' %>
</div>
