<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag("stock-computer-image.jpg") %>
    </div>
    <div class="card-content">
      <span class="card-title activator">Become a Teaching Assistant<i class="fa fa-ellipsis-v right"></i></span>
      <p><a href="#" class="red-text text-lighten-2">Signup</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title">Become a Teaching Assistant<i class="fa fa-close right"></i></span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquet risus feugiat in ante metus dictum at tempor. Odio tempor orci dapibus ultrices in iaculis nunc sed augue. At elementum eu facilisis sed odio morbi. Tempus iaculis urna id volutpat lacus laoreet non curabitur. Auctor urna nunc id cursus metus aliquam eleifend mi in. Fermentum iaculis eu non diam phasellus vestibulum lorem sed risus. Egestas dui id ornare arcu odio ut sem nulla. Eget aliquet nibh praesent tristique. Nec sagittis aliquam malesuada bibendum. Ut sem nulla pharetra diam sit amet nisl suscipit adipiscing. Nibh nisl condimentum id venenatis a condimentum vitae sapien. Bibendum ut tristique et egestas. Aliquam etiam erat velit scelerisque in dictum non.
      </p>
      <p>
        Et molestie ac feugiat sed lectus vestibulum mattis. Suscipit tellus mauris a diam maecenas sed enim. Faucibus purus in massa tempor nec feugiat nisl. At urna condimentum mattis pellentesque id nibh tortor id. Amet consectetur adipiscing elit pellentesque habitant morbi tristique senectus. Venenatis urna cursus eget nunc scelerisque viverra. Eget nunc scelerisque viverra mauris in aliquam sem fringilla ut. Tristique risus nec feugiat in fermentum posuere urna nec. Orci ac auctor augue mauris augue neque. Id volutpat lacus laoreet non curabitur gravida arcu. Et magnis dis parturient montes nascetur ridiculus mus mauris vitae. Aenean pharetra magna ac placerat vestibulum lectus. Aliquam sem et tortor consequat. Ullamcorper dignissim cras tincidunt lobortis. Neque volutpat ac tincidunt vitae. Ac ut consequat semper viverra nam libero justo.
      </p>
      <p>
        Sit amet venenatis urna cursus eget nunc scelerisque viverra mauris. Sed arcu non odio euismod lacinia. Viverra ipsum nunc aliquet bibendum enim facilisis. Sed vulputate odio ut enim. Non sodales neque sodales ut etiam sit amet nisl purus. Amet massa vitae tortor condimentum lacinia quis vel. Metus dictum at tempor commodo ullamcorper a lacus vestibulum sed. Faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam. Est velit egestas dui id ornare. Fames ac turpis egestas maecenas pharetra convallis posuere. Sit amet massa vitae tortor condimentum lacinia. Eleifend mi in nulla posuere sollicitudin. Aliquet nec ullamcorper sit amet risus nullam eget.
      </p>
      <p><em>Image source: <a href="http://www.wocintechchat.com/" class="red-text text-lighten-2">WOCinTech</a></em></p>
    </div>
  </div>
