<td>
  <%= link_to course.name, course_path(course), class: 'red-text text-lighten-2' %>
</td>

<td>
  <%= course.pretty_date %>
</td>

<% if !course.is_past? %>
  <td>
    <% if teaching_assistant.is_ta_for?(course) %>
      <%= button_to 'Change RSVP to No', { controller: :hours, action: :destroy, id: course.hour_for(teaching_assistant) }, method: :delete, class: 'btn btn-primary btn-sm' %>
    <% else %>
      <%= button_to "RSVP Yes! I'll be there!", { controller: :hours, action: :create, hour: { course_id: course.id, teaching_assistant_id: teaching_assistant.id } }, method: :post, class: 'btn btn-primary btn-sm' %>
    <% end %>
  </td>
<% end %>
