<div class="modal-content">
  <h5 class="light">TAs for <%= course.name %></h5>
  <% if !course.teaching_assistants.any? %>
    No TAs have signed up yet!
  <% else %>
    <table class="table table-striped table-hover">
      <thead>
        <th>Name</th>
        <th>Options</th>
      </thead>
      <tbody>
        <% course.teaching_assistants.each do |ta| %>
          <tr>
            <td>
              <%= link_to ta.name, teaching_assistant_path(ta.private_id), class: 'red-text text-lighten-2' %>
            </td>

            <td>
              <%= link_to icon_trash, { controller: :hours, action: :destroy, id: course.hour_for(ta) }, method: :delete, class: 'waves-effect waves-light btn cyan darken-4' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
<div class="modal-footer">
  <a href="#!" class="modal-action modal-close waves-effect btn-flat">Close</a>
</div>
