<div id="ta-list-modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">TAs for <%= @course.name %></h4>
      </div>
      <div class="modal-body">
        <% if !@course.teaching_assistants.any? %>
          No TAs have signed up yet!
        <% else %>
          <table class="table table-striped table-hover">
            <thead>
              <th>Name</th>
              <th>Options</th>
            </thead>
            <tbody>
              <% @course.teaching_assistants.each do |ta| %>
              <tr>
                <td>
                  <%= link_to ta.name, teaching_assistant_path(ta.private_id) %>
                </td>

                <td>
                  <% if ta.missing_email_for?(@course) %>
                    <span class="btn btn-primary btn-xs">Needs Email</span>
                  <% end %>
                  
                  <%= link_to icon_trash, { controller: :hours, action: :destroy, id: @course.hour_for(ta) }, method: :delete, class: "btn btn-primary btn-xs" %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
