<div class="row">
  <div class="fixed-action-btn">
    <%= link_to icon_plus, new_course_path, class: 'btn-floating btn-large waves-effect waves-light teal' %>
  </div>

  <h3 class="red-text text-lighten-2">Upcoming Courses</h3>

  <table class="table highlight centered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>TAs Needed</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @upcoming.each do |course| %>
        <tr>
          <%= render partial: 'table_view', locals: { course: course } %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h3 class="red-text text-lighten-2">Past Courses</h3>

  <table class="table highlight centered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @past.each do |course| %>
        <tr>
          <%= render partial: 'table_view', locals: { course: course } %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
