<h2>Courses</h2>

<%= link_to 'Add a course', new_course_path, class: 'btn btn-info' %>

<br /><br />

<div class="col-lg-10">
  <% @courses.each do |course| %>
    <div class="well well-lg col-lg-12">
      <%= render partial: 'courses/admin_view', locals: { course: course } %>
    </div>
  <% end %>
</div>
