<div class="col-lg-10 col-lg-offset-1">
  <h2>Courses</h2>

  <%= link_to 'add a course', new_course_path, class: 'btn btn-success' %>

  <br /><br />

  <% @courses.each do |course| %>
    <div class="col-lg-10 col-lg-offset-1">
      <%= render partial: 'list_view', locals: { course: course } %>
    </div>
  <% end %>
</div>
