<h2>Courses</h2>

<%= link_to 'add a course', new_course_path, class: 'btn btn-success' %>

<br /><br />

<div class="col-lg-10">
  <% @courses.each do |course| %>
    <%= render partial: 'list_view', locals: { course: course } %>
  <% end %>
</div>
