<div class="row">
  <%= link_to icon_plus, new_course_path, class: 'waves-effect waves-light btn teal' %>
  <%= link_to 'add TA to upcoming course', new_hour_path, remote: true, class: 'waves-effect waves-light btn teal flow-text' %>

  <h3 class="red-text text-lighten-2">Upcoming Courses</h3>

  <table class="table highlight centered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>TAs Needed</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody> 
      <% @upcoming.each do |course| %>
        <tr>
          <%= render partial: 'table_view', locals: { course: course } %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h3 class="red-text text-lighten-2">Past Courses</h3>

  <table class="table highlight centered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @past.each do |course| %>
        <tr>
          <%= render partial: 'table_view', locals: { course: course } %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
