<div class="col-lg-10 col-lg-offset-1">
  <h2>Courses</h2>

  <%= link_to 'add a course', new_course_path, class: 'btn btn-success' %>

  <br /><br />

  <h3>Upcoming</h3>
  <% @upcoming.each do |course| %>
    <div class="col-lg-12">
      <%= render partial: 'list_view', locals: { course: course } %>
    </div>
  <% end %>

  <h3>Past</h3>
  <% @past.each do |course| %>
    <div class="col-lg-12">
      <%= render partial: 'list_view', locals: { course: course } %>
    </div>
  <% end %>
</div>
