@mixin button-base {
  font-family: $sans-serif;
  font-weight: 400;
}

.button, button, input[type=submit] {
  @include button(lighten($light-gray, 10%));
  @include button-base;
  &.button__small {
    font-size: 75%;
  }
}

.button {
  padding: 4px 15px;
}

button.button__accent {
  @include button($base-accent-color);
  @include button-base;
}

button.button__secondary {
  @include button($base-secondary-color);
  @include button-base;
}
