#header {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: dotted 1px lighten($medium-gray, 20%);
  h1 {
    color: $base-accent-color;
    font-size: $base-font-size * 4;
  }
  h2 {
    color: $base-secondary-color;
    font-size: $base-font-size * 2.5;
  }
}
