@mixin modalBase {
  box-sizing: border-box;
  background-color: #fff;
  padding: 1em;
  background: white;
  position: fixed;
  width: 50%;
  top: 10%;
  left: 50%;
  margin: 0 0 0 -25%;
  max-height: 600px;
  overflow: scroll;
  @media (max-width: 560px) {
    max-height: 300px;
  }
}

.modal {
  @include modalBase;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.flush--top {
  margin-top: 0;
}
