<% if ta.history.empty? %>
  You haven't TA'd for any courses yet.
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Course</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% ta.history.each do |hour| %>
        <tr>
          <%= render partial: 'courses/ta_view', locals: { course: hour.course, teaching_assistant: ta } %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
