<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Girl Develop It Chicago</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<style>
			body {
				font-family: 'Helvetica Neue', 'Arial', sans-serif;
				line-height: 1.5em;
				background-color: #F2F2F2;
				color: #333333;
			}

			.small { font-size: 75%; }

			#container {
				max-width: 700px;
				margin: 20px auto;
				background-color: #fff;
				padding: 20px 80px 40px 80px;
				box-shadow: 0 2px 4px #999;
			}

			h1 {
				text-align: center;
				color: rgba(240, 91, 98, 1);
				padding-top: 20px;
			}

			h2 {
				border-bottom: 1px solid #F2F2F2;
				padding-top: 5px;
				padding-bottom: 15px;
			}

			a {
				font-weight: 700;
				color: #1BBC9B;
			}

			#footer {
				border-top: 1px solid #F2F2F2;
				padding-top: 20px;
			}

			.center { text-align: center; }

			h4 {
				padding-bottom: 0px;
				padding-top: 20px;
				margin-bottom: 0px;
			}

			.button {
				-webkit-box-shadow: rgb(39, 202, 168) 0px 1px 0px 0px inset;
				-webkit-font-smoothing: antialiased;
				-webkit-writing-mode: horizontal-tb;
				align-items: flex-start;
				background-clip: padding-box;
				background-color: rgb(28, 162, 134);
				background-image: linear-gradient(rgb(28, 162, 134), rgb(12, 131, 107));
				border-bottom-color: rgb(12, 132, 107);
				border-bottom-left-radius: 3px;
				border-bottom-right-radius: 3px;
				border-bottom-style: solid;
				border-bottom-width: 1px;
				border-image-outset: 0px;
				border-image-repeat: stretch;
				border-image-slice: 100%;
				border-image-source: none;
				border-image-width: 1;
				border-left-color: rgb(12, 132, 107);
				border-left-style: solid;
				border-left-width: 1px;
				border-right-color: rgb(12, 132, 107);
				border-right-style: solid;
				border-right-width: 1px;
				border-top-color: rgb(12, 132, 107);
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
				border-top-style: solid;
				border-top-width: 1px;
				box-shadow: rgb(39, 202, 168) 0px 1px 0px 0px inset;
				box-sizing: border-box;
				color: rgb(255, 255, 255);
				cursor: pointer;
				display: inline-block;
				font-size: 16px;
				font-weight: bold;
				font-family: 'Helvetica Neue', 'Arial', sans-serif;
				height: 32px;
				letter-spacing: normal;
				line-height: 16px;
				padding-bottom: 7px;
				padding-left: 18px;
				padding-right: 18px;
				padding-top: 7px;
				text-align: center;
				text-decoration: none solid rgb(255, 255, 255);
				text-indent: 0px;
				text-shadow: rgb(6, 117, 94) 0px 1px 0px;
				text-transform: none;
				white-space: nowrap;
				word-spacing: 0px;
			}
		</style>
	</head>
	<body>
    <div id="container">
      <%= yield %>
    </div>
	</body>
</html>
