<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Girl Develop It Chicago</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<style>
			body {
				font-family: 'Arial', sans-serif;
				line-height: 1.5em;
				color: #2a4758 !important;
			}
			div {
				margin-top: 15px;
				margin-bottom: 15px;
			}
			h1 {
				color: #f95a61;
				padding-top: 15px;
				text-transform: lowercase;
				font-size: 1.5rem;
				font-weight: 300;
				letter-spacing: .14rem;
				line-height: 1.8rem;
			}
			h2 {
				border-bottom: 1px solid #d8ae64;
				padding-top: 15px;
				padding-bottom: 15px;
				text-transform: lowercase;
				font-size: 1rem;
				letter-spacing: .14rem;
				line-height: 1.3rem;
			}
			h3 {

			}
			a {
				color: #f95a61 !important;
			}
			hr {
				border-top: 1px solid #d8ae64;
				border-bottom: 1px solid #d8ae64;
				padding: 2px;
				border-left: none;
				border-right: none;
				margin-bottom: 30px;
			}
			.content-center {
				width: 50%;
				margin: 0 auto;
			}
			.small {
				font-size: 80%;
			}
			.button {
				display: inline-block;
				color: #ffffff !important;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: .14rem;
				background-color: #d8ae64;
				padding: .5rem 1rem;
				border: none;
				text-align: center;
			}
			#email-container {
				width: 80%;
			}
			#footer {
				border-top: 1px solid #f2f2f2;
				padding-top: 20px;
			}
		</style>
	</head>
	<body>
    <div id="email-container" class="content-center">
      <%= yield %>
    </div>
	</body>
</html>
