<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Girl Develop It Chicago</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<style>
			body {
				font-family: 'Helvetica Neue', 'Arial', sans-serif;
				line-height: 1.5em;
				background-color: #F2F2F2;
				color: #2a4758;
			}

			.small { font-size: 75%; }

			h1 {
				color: #f95a61;
				padding-top: 20px;
			}

			h2 {
				border-bottom: 1px solid #F2F2F2;
				padding-top: 5px;
				padding-bottom: 15px;
			}

			a {
				font-weight: 700;
				color: #f95a61 !important;
			}

			#footer {
				border-top: 1px solid #F2F2F2;
				padding-top: 20px;
			}

			.center { text-align: center; }

			h4 {
				padding-bottom: 0px;
				padding-top: 20px;
				margin-bottom: 0px;
			}

			.button {
				color: #ffffff;
			  background-color: #f95a61;
			  border-color: #f95a61;
				-webkit-box-shadow: #f95a61 0px 1px 0px 0px inset;
				-webkit-font-smoothing: antialiased;
				-webkit-writing-mode: horizontal-tb;
				align-items: flex-start;
				background-clip: padding-box;
				border-bottom-left-radius: 3px;
				border-bottom-right-radius: 3px;
				border-bottom-style: solid;
				border-bottom-width: 1px;
				border-image-outset: 0px;
				border-image-repeat: stretch;
				border-image-slice: 100%;
				border-image-source: none;
				border-image-width: 1;
				border-left-style: solid;
				border-left-width: 1px;
				border-right-style: solid;
				border-right-width: 1px;
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
				border-top-style: solid;
				border-top-width: 1px;
				box-sizing: border-box;
				cursor: pointer;
				display: inline-block;
				font-size: 16px;
				font-weight: bold;
				font-family: 'Helvetica Neue', 'Arial', sans-serif;
				height: 32px;
				letter-spacing: normal;
				line-height: 16px;
				padding-bottom: 7px;
				padding-left: 18px;
				padding-right: 18px;
				padding-top: 7px;
				text-align: center;
				text-decoration: none solid rgb(255, 255, 255);
				text-indent: 0px;
				text-shadow: #f95a61 0px 1px 0px;
				text-transform: none;
				white-space: nowrap;
				word-spacing: 0px;
			}
		</style>
	</head>
	<body>
    <div>
      <%= yield %>
    </div>
	</body>
</html>
